.heading {
	font-size: 3rem;
	font-weight: 300;
	margin-left: 2rem;
	margin-right: 2rem;
	padding-bottom: 20rem;
	padding-top: 20rem;
}

.heading-line {
	left: 0;
	top: 0;
	white-space: nowrap;
}

.heading-line-container {
	position: relative;
	overflow: visible;
}
