.page-layout {
	display: grid;
	grid-template-areas:
		'banner header'
		'banner content';
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	height: 100vh;
	width: 100%;

	[role=banner] {
		grid-area: banner;
	}

	main {
		grid-area: content;
		overflow: auto;
	}
}
