.page-header {
	align-items: center;
	background-color: var(--palette-oxide-grey-900);
	border-bottom-color: var(--palette-oxide-green-800);
	border-bottom-style: solid;
	border-bottom-width: 0.1rem;
	color: var(--palette-oxide-grey-100);
	display: flex;
	grid-area: header;

	h2 {
		font-family: var(--font-articulat);
		font-size: 4rem;
		font-weight: 200;
		line-height: 1.5;
		padding-bottom: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 1rem;
	}
}
