.page-header {
	align-items: center;
	background-color: var(--palette-black);
	display: flex;
	font-family: var(--font-display);
	grid-area: header;
	padding-bottom: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;

	h2 {
		font-size: 4rem;
		font-weight: 500;
		line-height: 1.5;
		text-transform: uppercase;
	}
}

.user-menu {
	margin-left: auto;
}
