.form-input {
	display: flex;
	flex-grow: 1;
	overflow: hidden;

	input {
		background-color: var(--palette-white);
		border: none;
		color: var(--palette-black);
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: 2;
		margin: 0;
		order: 2;
		padding: 0.5rem 1rem;
		width: 100%;

		&::placeholder {
			color: var(--palette-light-grey);
		}

		&:focus {
			outline: none;
		}
	}

	&.is-rounded {
		border-radius: 0.25rem;
	}
}

.addon-end,
.addon-start {
	align-items: center;
	background-color: var(--palette-white);
	color: var(--palette-light-grey);
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.addon-end {
	border-left-color: var(--palette-light-grey);
	border-left-style: solid;
	border-left-width: 0.1rem;
	order: 3;
}

.addon-start {
	border-right-color: var(--palette-light-grey);
	border-right-style: solid;
	border-right-width: 0.1rem;
	order: 1;
}
