.form-input {
	display: flex;
	flex-grow: 1;
	overflow: hidden;

	input {
		background-color: transparent;
		border: none;
		color: inherit;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: 2;
		margin: 0;
		order: 2;
		padding: 0.5rem 1rem;
		width: 100%;

		&::placeholder {
			color: var(--palette-light-grey);
		}

		&:focus {
			outline: none;
		}
	}

	&.is-rounded {
		border-radius: 0.25rem;
	}
}

.addon-end,
.addon-start {
	align-items: center;
	color: var(--palette-light-grey);
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.addon-end {
	order: 3;
}

.addon-start {
	order: 1;
}
