:root {
	--hue-shift: 0deg;

	@include generateHSLCustomPropertiesFromColor('palette-black', #060606);
	@include generateHSLCustomPropertiesFromColor('palette-dull-black', #1a1a1a);
	@include generateHSLCustomPropertiesFromColor('palette-light-green', #42dca3);
	@include generateHSLCustomPropertiesFromColor('palette-green', #00bc8c);
	@include generateHSLCustomPropertiesFromColor('palette-dark-green', #009670);
	@include generateHSLCustomPropertiesFromColor('palette-dark-grey', #313131);
	@include generateHSLCustomPropertiesFromColor('palette-grey', #444444);
	@include generateHSLCustomPropertiesFromColor('palette-light-grey', #999999);
	@include generateHSLCustomPropertiesFromColor('palette-red', #f00);
	@include generateHSLCustomPropertiesFromColor('palette-white', #fff);

	@include generateHSLCustomPropertiesFromColor('palette-oxide-green-900', #102422);
	@include generateHSLCustomPropertiesFromColor('palette-oxide-green-800', #1c2325);
	@include generateHSLCustomPropertiesFromColor('palette-oxide-green-700', #16362e);
	@include generateHSLCustomPropertiesFromColor('palette-oxide-green-400', #48d597);
	@include generateHSLCustomPropertiesFromColor('palette-oxide-grey-900', #080f11);
	@include generateHSLCustomPropertiesFromColor('palette-oxide-grey-800', #161c1e);
	@include generateHSLCustomPropertiesFromColor('palette-oxide-grey-700', #292f31);
	@include generateHSLCustomPropertiesFromColor('palette-oxide-grey-500', #787b7d);
	@include generateHSLCustomPropertiesFromColor('palette-oxide-grey-300', #9ca3af);
	@include generateHSLCustomPropertiesFromColor('palette-oxide-grey-200', #9c9fa0);
	@include generateHSLCustomPropertiesFromColor('palette-oxide-grey-100', #e7e7e8);

	--background-color: var(--palette-oxide-grey-900);
	--text-color: var(--palette-white);
}
