:root {
	--font-lora: 'Lora', serif;
	--font-montserrat: 'Montserrat', sans-serif;

	--font-display: var(--font-montserrat);
	--font-main: var(--font-lora);

	--font-size: 1.6rem;
	--font-size-small: 0.8em;
}
